<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>淑格订单管理系统</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="icon" href="/styles/images/logo/muyu.png" type="image/png">
    <link href="/styles/css/weui.min.css" rel="stylesheet">
    <link href="/styles/css/module/agent.css" rel="stylesheet">
</head>
<body>

<div class="shd">
    <h1 class="page_title">对不起</h1>
    <p class="page_desc">您访问的页面不存在...</p>
</div>
</body>

<script src="/styles/js/module/comm.js"></script>
<script type="text/javascript">
    setTimeout(function() {
        var localObj = window.location;
        if(!isWeixin && !isiOS)
            parent.window.location = localObj.protocol + "//" + localObj.host + "/console/index";
        else {
            window.location = localObj.protocol + "//" + localObj.host + "/agent/home"
        }
    },3000);
</script>
</html>
