<!DOCTYPE html>
<html>
<#include "/console/layout/agentLayout.html"/>
<@head/>
<body ontouchstart="" huaban_collector_injected="true">
<div class="container" id="container"><div class="home">
    <div class="hd">
        <h1 class="page_title">王宝强 总代</h1>
        <p class="page_desc">开启智能美肤时代</p>
    </div>
    <div class="bd">
        <div class="weui_grids">
            <a href="${base}/agent/newOrder" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon icon_panel"></i>
                </div>
                <p class="weui_grid_label">
                    发货申请
                </p>
            </a>
            <a href="#/article" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon icon_article"></i>
                </div>
                <p class="weui_grid_label">
                    订单统计
                </p>
            </a>
            <a href="#/searchbar" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon icon_search_bar"></i>
                </div>
                <p class="weui_grid_label">
                    订单查询
                </p>
            </a>
            <a href="#/toast" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon icon_toast"></i>
                </div>
                <p class="weui_grid_label">
                    新代申请
                </p>
            </a>
            <a href="#/msg" class="weui_grid">
                <div class="weui_grid_icon">
                    <i class="icon icon_msg"></i>
                </div>
                <p class="weui_grid_label">
                    修改密码
                </p>
            </a>
        </div>
    </div>
</div></div>
<@foot/>
<script src="${base}/styles/js/module/agent/home.js"></script>
</body>
</html>