<!DOCTYPE html>
<html>
<#include "/console/layout/agentLayout.html"/>
<@head/>
<body>
<form role="form" id="formSubmit" commandName="user"
      enctype='multipart/form-data'>
    <div class="hd">
        <h1 class="page_title">修改密码</h1>
    </div>
    <div class="weui_cells weui_cells_form">


        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">原密码</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text"
                       id="plainPassword" name="plainPassword" placeholder="输入原来的密码" minlength="4" maxlength="10"
                       required>
            </div>
        </div>


        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">再次确认</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text"
                       id="newPlainPassword" name="newPlainPassword" placeholder="输入新密码" minlength="4" maxlength="10"
                       required>
            </div>
        </div>


        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">原密码</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="text"
                       id="confirmPlainPassword" name="confirmPlainPassword" placeholder="再次确认密码" minlength="4"
                       maxlength="10" required>
            </div>
        </div>

    </div>


    <div id="toast" style="display: none;">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
            <p id="msgType"></p>
            <p class="weui_toast_content" id="error_dialog"></p>
        </div>
    </div>

    <div class="weui_btn_area">
        <button type="submit" id="save" name="save" class="weui_btn weui_btn_primary">修改</button>
        <button type="button" id="back" name="back" class="weui_btn weui_btn_default">返回</button>

    </div>
</form>
<@foot/>
<script src="${base}/styles/js/module/business/agent/password.js"></script>
</body>
</html>