<#macro head>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>淑格订单管理系统</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="icon" href="${base}/styles/images/logo/muyu.png" type="image/png">
        <link href="${base}/styles/css/weui.min.css" rel="stylesheet">
        <link href="${base}/styles/css/module/agent.css" rel="stylesheet">
    </head>
</#macro>
<#macro foot>
    <script src="${base}/styles/js/require.js"></script>
    <script type="application/javascript">
        var WEB_GLOBAL_CTX = "${base}"; //全局上下文
    </script>
    <script src="${base}/styles/js/module/config.js"></script>
</#macro>

<#macro toast>
    <div id="toast" style="display: none;">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
            <p id="msgType"></p>
            <p class="weui_toast_content" id="error_dialog"></p>
        </div>
    </div>
</#macro>

<#macro loadingToast>
    <div id="loadingToast" class="weui_loading_toast" style="display:none;">
        <div class="weui_mask_transparent"></div>
        <div class="weui_toast">
            <div class="weui_loading">
                <div class="weui_loading_leaf weui_loading_leaf_0"></div>
                <div class="weui_loading_leaf weui_loading_leaf_1"></div>
                <div class="weui_loading_leaf weui_loading_leaf_2"></div>
                <div class="weui_loading_leaf weui_loading_leaf_3"></div>
                <div class="weui_loading_leaf weui_loading_leaf_4"></div>
                <div class="weui_loading_leaf weui_loading_leaf_5"></div>
                <div class="weui_loading_leaf weui_loading_leaf_6"></div>
                <div class="weui_loading_leaf weui_loading_leaf_7"></div>
                <div class="weui_loading_leaf weui_loading_leaf_8"></div>
                <div class="weui_loading_leaf weui_loading_leaf_9"></div>
                <div class="weui_loading_leaf weui_loading_leaf_10"></div>
                <div class="weui_loading_leaf weui_loading_leaf_11"></div>
            </div>
            <p class="weui_toast_content" id="loading_dialog"></p>
        </div>
    </div>
</#macro>

