<!--head css-->
<#macro head>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>淑格订单管理系统</title>
        <link rel="icon" href="${base}/styles/images/logo/muyu.png" type="image/png">
        <link href="${base}/styles/css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="${base}/styles/css/bootstrap.min.css" rel="stylesheet">
        <link href="${base}/styles/css/bootstrap-table.min.css" rel="stylesheet">
        <link href="${base}/styles/js/select/bootstrap-select.min.css" rel="stylesheet">
        <link href="${base}/styles/sco/css/scojs.min.css" rel="stylesheet">
        <link href="${base}/styles/sco/css/sco.message.min.css" rel="stylesheet">
        <link href="${base}/styles/css/module/main.min.css" rel="stylesheet">
    </head>
</#macro>

<#macro headEdit>
    <meta charset="utf-8">
    <title>淑格订单管理系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="${base}/styles/css/bootstrap.min.css" rel="stylesheet">
    <link href="${base}/styles/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="${base}/styles/js/select/bootstrap-select.min.css" rel="stylesheet">
    <link href="${base}/styles/js/validator/css/formValidation.min.css" rel="stylesheet">
    <link href="${base}/styles/sco/css/scojs.min.css" rel="stylesheet">
    <link href="${base}/styles/sco/css/sco.message.min.css" rel="stylesheet">
    <link href="${base}/styles/css/fuelux.min.css" rel="stylesheet">
    <link href="${base}/styles/css/module/edit.min.css" rel="stylesheet">
</#macro>

<#macro orderQuery>
<form role="form" name="form" id="form1">
    <div class="form-inline" role="form">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <input class="form-control" type="text" placeholder="代理名称" id="search_agentName"
                       name="search_agentName">
                <input class="form-control" type="date" placeholder="开始日期" id="search_beginDate"
                       name="search_beginDate"/>
                <input class="form-control" type="date" placeholder="结束日期" id="search_endDate"
                       name="search_endDate"/>
                <select id="produceId" style="width: 50px" name="produceId" data-live-search="true" class="selectpicker show-tick">
                    <option ></option>
                </select>
                <select id="status" style="width: 150px" name="status" class="selectpicker show-tick">
                    <option ></option>
                </select>
                <button type="button" class="btn btn-default" id="query" name="query" title="查询"><span
                        class="glyphicon glyphicon-search"></span></button>
                <div class="btn-group" id="do">
                </div>
            </div>
        </div>
    </div>
</form>
</#macro>

<!--east main-->
<#macro east>
</#macro>

<!--foot js-->
<#macro foot>
    <script src="${base}/styles/js/require.min.js"></script>
    <script type="text/javascript">
        var WEB_GLOBAL_CTX = "${base}"; //全局上下文
        var IMAGE_HREF = "http://habit-10005997.image.myqcloud.com/";

       if(window.location.href.indexOf("231")>0||window.location.href.indexOf("pkvc")>0||window.location.href.indexOf("localhost")>0){
           IMAGE_HREF = "http://habits-10043128.image.myqcloud.com/"
       }

        //垃圾回收
        /*
         (new Date().getTime())
         if ($.browser.msie) {
         CollectGarbage();
         }*/
    </script>
    <script src="${base}/styles/js/module/config.min.js"></script>
</#macro>
