<!DOCTYPE html>
<html>
<#include "/console/layout/main.html"/>
<@head/>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">积分配置管理</div>
        <div class="panel-body">
            <table id="tableB" class="table-hover table-condensed table-striped">
                <thead>
                <tr>
                    <th data-field="state" data-radio="true"></th>
                    <th data-field="level" class="col-md-5" data-formatter="levelFormatter">层级</th>
                    <th data-field="remuneration" class="col-md-5">积分</th>

                </tr>
                </thead>
            </table>
        </div>
    </div>
</div><!--/.container-->


<div id="custom-toolbar">
    <form role="form" name="form" id="form1">
        <div class="form-inline" role="form">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                    <button type="button" class="btn btn-default" id="back" name="back" title="返回"><span
                            class="glyphicon glyphicon-menu-left"></span></button>
                            <button type="button" class="btn btn-default" id="query" name="query" title="查询"><span
                                    class="glyphicon glyphicon-search"></span></button>
                    <div class="btn-group" id="do">
                        <@shiro.hasPermission name="Produce:save">
                        <button type="button" class="btn btn-default" id="add" name="add" title="新增" ><span
                                class="glyphicon glyphicon-plus"></span></button>
                    </@shiro.hasPermission>
                </div>
            </div>
        </div>
    </form>
</div>


<div id="to" style="display:none;">
    <@shiro.hasPermission name="Remuneration:edit">
    <button type="button" class="btn btn-default" id="modify" name="modify" title="修改"><span
            class="glyphicon glyphicon-edit"></span></button>
    </@shiro.hasPermission>
    <@shiro.hasPermission name="Remuneration:delete">
    <button type="button" class="btn btn-default" id="delete" name="delete" title="删除"><span
            class="glyphicon glyphicon-remove"></span></button>
    </@shiro.hasPermission>
</div>

</body>
<@foot/>
<script src="${base}/styles/js/module/business/remuneration/list.min.js"></script>
<script type="text/javascript">
    var produceId = "${produceId}";
</script>

</html>

