<!DOCTYPE html>
<html>
<#include "/console/layout/agentLayout.html"/>
<@head/>
<body>
<form role="form" name="formLogin" id="formLogin" method="post" commandName="login">
    <input name="salt" type="hidden" id="salt" value="${salt}"/>
    <div class="page_title hd">
        <div class="weui_text_area">
            <h2 class="weui_msg_title">重置密码</h2>
        </div>
    </div>
    <div class="weui_cells weui_cells_form">
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label">手机</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="number" value="" pattern="[0-9]*" placeholder="请输入手机号码" id="username"
                       required
                       name="username" tabindex="1" minlength="11" maxlength="11" max="19000000000">
            </div>
        </div>

        <div class="weui_cell weui_vcode">
            <div class="weui_cell_hd"><label class="weui_label">验证码</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input class="weui_input" type="number" pattern="[0-9]*" minlength="4" maxlength="4" id="captcha" name="captcha"  required tabindex="2" placeholder="请输入验证码"/>
            </div>
            <div class="weui_cell_ft">
                <img id="Kaptcha" src=""/>
            </div>
        </div>
    </div>


    <@toast/>

    <div class="weui_btn_area">
        <button type="submit" id="but_login" name="but_login" class="weui_btn weui_btn_primary" tabindex="3">重置获取密码
        </button>
        <button type="button" id="back" name="back" class="weui_btn weui_btn_default" >返回</button>
    </div>

</form>

<@foot/>
<script src="${base}/styles/js/module/forget.js"></script>
</body>
</html>