<!DOCTYPE html>
<#include "/console/layout/main.html"/>
<html class="fuelux">
<@headEdit/>
<body>
<div class="container">
    <form role="form" id="formSubmit" commandName="order" class="form-horizontal"
          data-fv-framework="bootstrap"
          data-fv-message="This value is not valid"
          data-fv-feedbackicons-valid="glyphicon glyphicon-ok"
          data-fv-feedbackicons-invalid="glyphicon glyphicon-remove"
          data-fv-feedbackicons-validating="glyphicon glyphicon-refresh"
    >
        <!-- Modal -->
        <div class="panel panel-default">
            <div class="panel-heading">订单查看</div>
            <div class="panel-body">

                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="produceName">产品</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <input type="text" class="form-control"  id="produceName" name="produceName"  readonly/>
                    </div>
                </div>

                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="produceNumber">产品数量</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <input type="number" class="form-control"  id="produceNumber" name="produceNumber" maxlength="8" min="1" max="10000000"
                               size="100" readonly/>
                    </div>
                </div>

                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="agentName">代理</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <input type="text" class="form-control"  id="agentName" name="agentName"  readonly/>
                    </div>
                </div>

                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="parentName">上级代理</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <input type="text" class="form-control"  id="parentName" name="parentName"  readonly/>
                    </div>
                </div>


                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1">
                        <label class="control-label" >水单</label>
                    </div>
                    <div class="col-sm-8">
                        <a href="" target="_blank" id="href"></a>
                    </div>
                </div>

                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="inputName">录入人</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <input type="text" class="form-control" readonly id="inputName" name="inputName" maxlength="50"
                               size="100"/>
                    </div>
                </div>


                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="inputTime">录入时间</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <input type="text" class="form-control" readonly id="inputTime" name="inputTime" maxlength="50"
                               size="100"/>
                    </div>
                </div>

                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="checkName">确认人</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <input type="text" class="form-control" readonly id="checkName" name="checkName" maxlength="50"
                               size="100"/>
                    </div>
                </div>


                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="checkTime">确认时间</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <input type="text" class="form-control" readonly id="checkTime" name="checkTime" maxlength="50"
                               size="100"/>
                    </div>
                </div>

                <div class="row control-group">
                    <div class="col-sm-2 col-sm-offset-1"><label class="control-label" for="bankMemo">备注</label>
                    </div>
                    <div class="col-sm-8 controls">
                        <input type="text" class="form-control" id="bankMemo" name="bankMemo" maxlength="1000"
                               placeholder="备注" size="100" readonly />
                    </div>
                </div>

            </div>

        </div>

    </form>

</div>
<!-- /.container -->

</body>
<@foot/>
<script src="${base}/styles/js/module/business/order/checkEdit.js"></script>
<script type="text/javascript">
    var order = JSON.parse(JSON.stringify(${order}));
</script>
</html>

