<!DOCTYPE html>
<html>
<#include "/console/layout/main.html"/>
<@head/>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">订单管理管理</div>
        <div class="panel-body">
            <table id="tableB" class="table-hover table-condensed table-striped">
                <thead>
                <tr>
                    <th data-field="state" data-radio="true"></th>
                    <th data-field="agentName" class="col-md-1">代理</th>
                    <th data-field="parendName" class="col-md-1">上级</th>
                    <th data-field="inputTime" class="col-md-2">申请时间</th>
                    <th data-field="produceName" class="col-md-2">产品</th>
                    <th data-field="produceNumber" class="col-md-1">数量</th>
                    <th data-field="checkName" class="col-md-1">确认</th>
                    <th data-field="bankMemo" class="col-md-1">备注</th>
                    <th data-field="checkTime" class="col-md-2">确认时间</th>
                    <th data-field="status" class="col-md-1" data-formatter="orderStateFormatter">状态</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div><!--/.container-->
<div id="custom-toolbar">
    <form role="form" name="form" id="form1">
        <div class="form-inline" role="form">
            <div class="row">
                <div class="col-md-2 col-lg-2 col-sm-2 col-xs-2">
                    <select class="form-control " id="search_select" name="search_select">
                        <option value="search_agentName">代理名称</option>
                    </select>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="输入查询条件" id="search"
                               name="search_username">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" id="query" name="query" title="查询"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>

                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                    <div class="btn-group" id="do">
                        <@shiro.hasPermission name="Order:save">
                        <button type="button" class="btn btn-default" id="add" name="add" title="新增" ><span
                                class="glyphicon glyphicon-plus"></span></button>
                    </@shiro.hasPermission>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="to" style="display:none;">
    <@shiro.hasPermission name="Order:edit">
    <button type="button" class="btn btn-default" id="modify" name="modify" title="修改"><span
            class="glyphicon glyphicon-edit"></span></button>
</@shiro.hasPermission>
<@shiro.hasPermission name="Order:delete">
<button type="button" class="btn btn-default" id="delete" name="delete" title="撤销"><span
        class="glyphicon glyphicon-remove"></span></button>
</@shiro.hasPermission>
</div>
</body>
<@foot/>
<script src="${base}/styles/js/module/business/order/list.js"></script>
</html>

