<!DOCTYPE html>
<html>
<#include "/console/layout/main.html"/>
<@head/>
<body>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">订单清单</div>
        <div class="panel-body">
            <table id="tableS" class="table-hover table-condensed table-striped">
                <thead>
                <tr>
                    <th data-field="agentName" class="col-md-1" data-formatter="idFormatter">详情</th>
                    <th data-field="agentName" class="col-md-1">代理</th>
                    <th data-field="parentName" class="col-md-1">上级</th>
                    <th data-field="inputTime" class="col-md-1">申请时间</th>
                    <th data-field="produceName" class="col-md-1">产品</th>
                    <th data-field="produceNumber" class="col-md-1">数量</th>
                    <th data-field="phone" class="col-md-1">手机号码</th>
                    <th data-field="address" class="col-md-1" >收货地址</th>
                    <th data-field="identityCards" class="col-md-1" data-formatter="exportValue">身份证号</th>
                    <th data-field="bank" class="col-md-1">银行</th>
                    <th data-field="bankAccount" class="col-md-1" data-formatter="exportValue">帐号</th>
                    <th data-field="bankName" class="col-md-1">户名</th>
                    <th data-field="alipayAccount" class="col-md-1">支付宝帐号</th>
                    <th data-field="alipayName" class="col-md-1">支付宝姓名</th>
                    <th data-field="bankMemo" class="col-md-1">备注</th>
                    <th data-field="checkName" class="col-md-1">确认人</th>
                    <th data-field="checkTime" class="col-md-1">确认时间</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div><!--/.container-->

</body>
<@foot/>
<script type="application/javascript">
    var order = JSON.parse(JSON.stringify(${order}));
</script>
<script src="${base}/styles/js/module/business/order/queryReport.min.js"></script>
</html>

